@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --issue-7: #ff608c;
  --issue-6: #ffffff;
  --issue-5: #00c1b5;
  --issue-4: #ff6519;
  --issue-3: #ffbe00;
  --issue-2: #1d3fbb;
  --issue-1: #e30512;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

body {
  height: 100%;
}

a {
  color: #251d20;
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

p {
  color: #251d14;
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
}

.header-logo {
  padding-top: 20px;
  position: fixed;
  padding-left: 20px;
  z-index: 2;
  .logo {
    width: 260px;
    height: auto;
  }
}

.footer {
  .description {
    position: fixed;
    bottom: 0;
    left: 22px;
    width: 320px;
    margin-top: 0;
    .copyright {
      display: block;
      font-size: 12px;
      font-weight: normal;
      .link {
        text-decoration: underline;
      }
      .link:hover {
        text-decoration: none;
        cursor: pointer;
      }
    }
    .policy:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .menu {
    position: fixed;
    bottom: 0px;
    right: 15px;
    width: 200px;
    text-align: right;
    z-index: 3;
    font-size: 18px;
    line-height: 1.6;
    .menulink:hover {
      text-decoration: underline;
    }
  }
  .contact {
    text-align: right;
    position: fixed;
    right: 15px;
    top: 20px;
    .mail {
      font-weight: bold;
    }
    .mail:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.issues {
  text-align: center;
  max-height: 100vh;
  overflow-y: scroll;
  .issue {
    height: 100vh;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
    .issue-info {
      .issue-cover {
        height: 75vh;
        .img {
          width: auto;
          height: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 1002px) {
  .footer {
    .description {
      position: static;
      margin-bottom: 20px;
      margin-left: 15px;
    }
    .menu {
      display: none;
    }
    .contact {
      position: static;
      margin-bottom: 20px;
      margin-right: 15px;
    }
  }
}
